
body {

	text-align:center;
	background-color: #e6e6e6;
}

#centercontent {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: white;
    border: 5px;
    border-radius: 15px;
    height: 200px;
    width: 500px;
}